<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\UrlInterface">
        <plugin name="training_test" type="Training\Test\Plugin\Model\Url" />
    </type>
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="training_test_overwrite_template" type="Training\Test\Plugin\Block\Template" />
    </type>
    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="training_test_redirect_users" type="Training\Test\Plugin\Controller\Product\View" disabled="true" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="product-view-description-plugin" type="Training\Test\Plugin\Block\Product\View\DescriptionPlugin" />
    </type>
</config>
