<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Training\Feedback\Ui\DataProvider\Form\DataProvider">
        <plugin name="training_feedback_from_dataProvider" type="Training\FeedbackProduct\Plugin\Ui\Form\DataProvider\AddProductToFeedback"/>
    </type>
    <preference for="Training\Feedback\Controller\Adminhtml\Index\Save" type="Training\FeedbackProduct\Controller\AdminhtmlIndex\Index\Save" />
</config>
